.login-box {
	width: 500px;
	margin: 100px auto 0 auto;
	text-align: center;
	height: 100%;
	overflow: hidden;
	
	.main-title {
		font-size: 25px;
		font-weight: 100;
		color: #3A78FF;
	}
	
	.content {
		padding: 10px;
		
		input[type="submit"] {
			padding: 10px;
			font-size: 18px;
			border-radius: 5px;
			border: 1px solid #D4EDFF;
			color: #666;
		}

		input[type="email"], input[type="text"], input[type="password"] {
			width: 300px;
			padding: 20px;
			font-size: 18px;
			border-radius: 5px;
			border: 1px solid #D4EDFF;
			color: #666;
			margin: 10px;
		}

	}
	.actions {
		margin-top: 40px;
		font-size: 14px;
	}

}

